[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Commodore 64
Name[ar]=Commodore 64
Name[be]=Commodore 64
Name[bg]=Commodore 64
Name[bn]=Commodore 64
Name[bs]=Commodore 64
Name[ca]=Commodore 64
Name[cs]=Commodore 64
Name[da]=Commodore 64
Name[de]=Commodore 64
Name[dz]=Commodore 64
Name[el]=Commodore 64
Name[eo]=Commodore 64
Name[es]=Commodore 64
Name[eu]=Commodore 64
Name[fi]=Commodore 64
Name[fr]=Commodore 64
Name[ga]=Commodore 64
Name[gl]=Commodore 64
Name[gu]=Commodore 64
Name[he]=Commodore 64
Name[hi]=Commodore 64
Name[hr]=Commodore 64
Name[hu]=Commodore 64
Name[id]=Commodore 64
Name[it]=Commodore 64
Name[ja]=Commodore 64
Name[ka]=Commodore 64
Name[km]=Commodore 64
Name[ko]=Commodore 64
Name[ku]=Commodore 64
Name[lt]=Commodore 64
Name[mk]=Commodore 64
Name[ml]=Commodore 64
Name[mr]=Commodore 64
Name[nb]=Commodore 64
Name[ne]=Commodore 64
Name[nl]=Commodore 64
Name[nn]=Commodore 64
Name[pa]=Commodore 64
Name[pl]=Commodore 64
Name[pt]=Commodore 64
Name[pt_BR]=Commodore 64
Name[ro]=Commodore 64
Name[ru]=Commodore 64
Name[sk]=Commodore 64
Name[sq]=Commodore 64
Name[sv]=Commodore 64
Name[ta]=Commodore 64
Name[th]=Commodore 64
Name[tl]=Commodore 64
Name[tr]=Commodore 64
Name[uk]=Commodore 64
Name[vi]=Commodore 64
Name[wo]=Commodore 64
Name[zh_CN]=Commodore 64
Name[zh_TW]=Commodore 64
GenericName=
Comment=
Icon=/usr/share/pixmaps/c64icon-32x28.xpm
Exec=/usr/bin/x64
Terminal=false
Categories=Application;X-Debian-Applications-Emulators;
