[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Commodore CBM-II
Name[ar]=Commodore CBM-II
Name[be]=Commodore CBM-II
Name[bg]=Commodore CBM-II
Name[bn]=Commodore CBM-II
Name[bs]=Commodore CBM-II
Name[ca]=Commodore CBM-II
Name[cs]=Commodore CBM-II
Name[da]=Commodore CBM-II
Name[de]=Commodore CBM-II
Name[dz]=Commodore CBM-II
Name[el]=Commodore CBM-II
Name[eo]=Commodore CBM-II
Name[es]=Commodore CBM-II
Name[eu]=Commodore CBM-II
Name[fi]=Commodore CBM-II
Name[fr]=Commodore CBM-II
Name[ga]=Commodore CBM-II
Name[gl]=Commodore CBM-II
Name[gu]=Commodore CBM-II
Name[he]=Commodore CBM-II
Name[hi]=Commodore CBM-II
Name[hr]=Commodore CBM-II
Name[hu]=Commodore CBM-II
Name[id]=Commodore CBM-II
Name[it]=Commodore CBM-II
Name[ja]=Commodore CBM-II
Name[ka]=Commodore CBM-II
Name[km]=Commodore CBM-II
Name[ko]=Commodore CBM-II
Name[ku]=Commodore CBM-II
Name[lt]=Commodore CBM-II
Name[mk]=Commodore CBM-II
Name[ml]=Commodore CBM-II
Name[mr]=Commodore CBM-II
Name[nb]=Commodore CBM-II
Name[ne]=Commodore CBM-II
Name[nl]=Commodore CBM-II
Name[nn]=Commodore CBM-II
Name[pa]=Commodore CBM-II
Name[pl]=Commodore CBM-II
Name[pt]=Commodore CBM-II
Name[pt_BR]=Commodore CBM-II
Name[ro]=Commodore CBM-II
Name[ru]=Commodore CBM-II
Name[sk]=Commodore CBM-II
Name[sq]=Commodore CBM-II
Name[sv]=Commodore CBM-II
Name[ta]=Commodore CBM-II
Name[th]=Commodore CBM-II
Name[tl]=Commodore CBM-II
Name[tr]=Commodore CBM-II
Name[uk]=Commodore CBM-II
Name[vi]=Commodore CBM-II
Name[wo]=Commodore CBM-II
Name[zh_CN]=Commodore CBM-II
Name[zh_TW]=Commodore CBM-II
GenericName=
Comment=
Icon=/usr/share/pixmaps/cbm2icon-32x28.xpm
Exec=/usr/bin/xcbm2
Terminal=false
Categories=Application;X-Debian-Applications-Emulators;
