[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Commodore PET
Name[ar]=Commodore PET
Name[be]=Commodore PET
Name[bg]=Commodore PET
Name[bn]=Commodore PET
Name[bs]=Commodore PET
Name[ca]=Commodore PET
Name[cs]=Commodore PET
Name[da]=Commodore PET
Name[de]=Commodore PET
Name[dz]=Commodore PET
Name[el]=Commodore PET
Name[eo]=Commodore PET
Name[es]=Commodore PET
Name[eu]=Commodore PET
Name[fi]=Commodore PET
Name[fr]=Commodore PET
Name[ga]=Commodore PET
Name[gl]=Commodore PET
Name[gu]=Commodore PET
Name[he]=Commodore PET
Name[hi]=Commodore PET
Name[hr]=Commodore PET
Name[hu]=Commodore PET
Name[id]=Commodore PET
Name[it]=Commodore PET
Name[ja]=Commodore PET
Name[ka]=Commodore PET
Name[km]=Commodore PET
Name[ko]=Commodore PET
Name[ku]=Commodore PET
Name[lt]=Commodore PET
Name[mk]=Commodore PET
Name[ml]=Commodore PET
Name[mr]=Commodore PET
Name[nb]=Commodore PET
Name[ne]=Commodore PET
Name[nl]=Commodore PET
Name[nn]=Commodore PET
Name[pa]=Commodore PET
Name[pl]=Commodore PET
Name[pt]=Commodore PET
Name[pt_BR]=Commodore PET
Name[ro]=Commodore PET
Name[ru]=Commodore PET
Name[sk]=Commodore PET
Name[sq]=Commodore PET
Name[sv]=Commodore PET
Name[ta]=Commodore PET
Name[th]=Commodore PET
Name[tl]=Commodore PET
Name[tr]=Commodore PET
Name[uk]=Commodore PET
Name[vi]=Commodore PET
Name[wo]=Commodore PET
Name[zh_CN]=Commodore PET
Name[zh_TW]=Commodore PET
GenericName=
Comment=
Icon=/usr/share/pixmaps/peticon-32x28.xpm
Exec=/usr/bin/xpet
Terminal=false
Categories=Application;X-Debian-Applications-Emulators;
