[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Commodore Plus/4
Name[ar]=Commodore Plus/4
Name[be]=Commodore Plus/4
Name[bg]=Commodore Plus/4
Name[bn]=Commodore Plus/4
Name[bs]=Commodore Plus/4
Name[ca]=Commodore Plus/4
Name[cs]=Commodore Plus/4
Name[da]=Commodore Plus/4
Name[de]=Commodore Plus/4
Name[dz]=Commodore Plus/4
Name[el]=Commodore Plus/4
Name[eo]=Commodore Plus/4
Name[es]=Commodore Plus/4
Name[eu]=Commodore Plus/4
Name[fi]=Commodore Plus/4
Name[fr]=Commodore Plus/4
Name[ga]=Commodore Plus/4
Name[gl]=Commodore Plus/4
Name[gu]=Commodore Plus/4
Name[he]=Commodore Plus/4
Name[hi]=Commodore Plus/4
Name[hr]=Commodore Plus/4
Name[hu]=Commodore Plus/4
Name[id]=Commodore Plus/4
Name[it]=Commodore Plus/4
Name[ja]=Commodore Plus/4
Name[ka]=Commodore Plus/4
Name[km]=Commodore Plus/4
Name[ko]=Commodore Plus/4
Name[ku]=Commodore Plus/4
Name[lt]=Commodore Plus/4
Name[mk]=Commodore Plus/4
Name[ml]=Commodore Plus/4
Name[mr]=Commodore Plus/4
Name[nb]=Commodore Plus/4
Name[ne]=Commodore Plus/4
Name[nl]=Commodore Plus/4
Name[nn]=Commodore Plus/4
Name[pa]=Commodore Plus/4
Name[pl]=Commodore Plus/4
Name[pt]=Commodore Plus/4
Name[pt_BR]=Commodore Plus/4
Name[ro]=Commodore Plus/4
Name[ru]=Commodore Plus/4
Name[sk]=Commodore Plus/4
Name[sq]=Commodore Plus/4
Name[sv]=Commodore Plus/4
Name[ta]=Commodore Plus/4
Name[th]=Commodore Plus/4
Name[tl]=Commodore Plus/4
Name[tr]=Commodore Plus/4
Name[uk]=Commodore Plus/4
Name[vi]=Commodore Plus/4
Name[wo]=Commodore Plus/4
Name[zh_CN]=Commodore Plus/4
Name[zh_TW]=Commodore Plus/4
GenericName=
Comment=
Icon=/usr/share/pixmaps/plus4icon-32x28.xpm
Exec=/usr/bin/xplus4
Terminal=false
Categories=Application;X-Debian-Applications-Emulators;
