[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Commodore VIC-20
Name[ar]=Commodore VIC-20
Name[be]=Commodore VIC-20
Name[bg]=Commodore VIC-20
Name[bn]=Commodore VIC-20
Name[bs]=Commodore VIC-20
Name[ca]=Commodore VIC-20
Name[cs]=Commodore VIC-20
Name[da]=Commodore VIC-20
Name[de]=Commodore VIC-20
Name[dz]=Commodore VIC-20
Name[el]=Commodore VIC-20
Name[eo]=Commodore VIC-20
Name[es]=Commodore VIC-20
Name[eu]=Commodore VIC-20
Name[fi]=Commodore VIC-20
Name[fr]=Commodore VIC-20
Name[ga]=Commodore VIC-20
Name[gl]=Commodore VIC-20
Name[gu]=Commodore VIC-20
Name[he]=Commodore VIC-20
Name[hi]=Commodore VIC-20
Name[hr]=Commodore VIC-20
Name[hu]=Commodore VIC-20
Name[id]=Commodore VIC-20
Name[it]=Commodore VIC-20
Name[ja]=Commodore VIC-20
Name[ka]=Commodore VIC-20
Name[km]=Commodore VIC-20
Name[ko]=Commodore VIC-20
Name[ku]=Commodore VIC-20
Name[lt]=Commodore VIC-20
Name[mk]=Commodore VIC-20
Name[ml]=Commodore VIC-20
Name[mr]=Commodore VIC-20
Name[nb]=Commodore VIC-20
Name[ne]=Commodore VIC-20
Name[nl]=Commodore VIC-20
Name[nn]=Commodore VIC-20
Name[pa]=Commodore VIC-20
Name[pl]=Commodore VIC-20
Name[pt]=Commodore VIC-20
Name[pt_BR]=Commodore VIC-20
Name[ro]=Commodore VIC-20
Name[ru]=Commodore VIC-20
Name[sk]=Commodore VIC-20
Name[sq]=Commodore VIC-20
Name[sv]=Commodore VIC-20
Name[ta]=Commodore VIC-20
Name[th]=Commodore VIC-20
Name[tl]=Commodore VIC-20
Name[tr]=Commodore VIC-20
Name[uk]=Commodore VIC-20
Name[vi]=Commodore VIC-20
Name[wo]=Commodore VIC-20
Name[zh_CN]=Commodore VIC-20
Name[zh_TW]=Commodore VIC-20
GenericName=
Comment=
Icon=/usr/share/pixmaps/vic20icon-32x28.xpm
Exec=/usr/bin/xvic
Terminal=false
Categories=Application;X-Debian-Applications-Emulators;
